 /* latin */
@font-face {
  font-family: 'Ubuntu';
  src: url('../Fonts/DGTilo5QRsfWu6Yc11AXg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  font-style: normal;
  font-weight: normal;
  
}

body {
    font-family:'Ubuntu';
    margin: auto;
    width: auto;
}
nav ul, footer ul {
    font-family:'Ubuntu';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
 font-family:'Ubuntu';   
 display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Ubuntu';
}
p {
   font-family:'Ubuntu';   
   font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

plist {
    font-size: 1.5em;
    color: #333;
    font-family:'Ubuntu';
    line-height: 150%;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #333;
    font-family:'Ubuntu';
    line-height: 200%;
}

ul.posts li {
    list-style: none;
    font-size: 1.5em;
    line-height: 200%;
    color: #333;
    font-family:'Ubuntu';

}
